/* Variables -------------------- */
#video-wrapper, .button-controls-1, .button-controls-2, #controls-1, .controls[data-state=visible] {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }

#video-wrapper, .controls[data-state=visible] {
  flex-direction: column;
  -webkit-flex-direction: column; }

.button-controls-1, .button-controls-2, #controls-1 {
  flex-direction: row;
  -webkit-flex-direction: row; }

#video-wrapper {
  justify-content: center;
  -webkit-justify-content: center; }

#button-container {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.controls button {
  flex-grow: 1;
  -webkit-flex-grow: 1; }

.button-controls-1, .button-controls-2, .controls button {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.container {
  display: flex;
  flex-direction: column; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #666666;
  text-align: left;
  line-height: 1.9em;
  margin: 1.1em 0; }

.captionText {
  cursor: pointer; }

.text-wrapper {
  max-width: 93%;
  margin: 1.4em auto;
  padding: 0 0 1.3em; }

.highlight {
  color: #e38901; }

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .text-wrapper {
    max-width: 85%; } }
#video-wrapper {
  position: relative;
  z-index: 2147483647; }

video::-webkit-media-controls {
  display: none !important; }

#video-styles, #progress-container, #button-container {
  width: 100%; }

#button-container {
  display: none; }

#button-container {
  margin-top: 1.5%; }

#controls-1 {
  margin-left: 5%; }

.button-controls-2 {
  margin-right: 5%; }

/* Data-state attribue indicate whether controls are visible or not */
.controls[data-state=hidden] {
  display: none; }

.controls[data-state=visible] {
  position: absolute;
  z-index: 2147483647;
  display: none;
  width: 100%;
  bottom: 20px; }

.controls {
  /* Polyfill */
  /* Ensure fallback text doesn't appear in polyfill */
  /* This sets the dimensions of our sample PB element*/
  /* Background Colors  */
  /* Chrome */
  /* Foreground Colors   */
  /* IE10 */
  /* Firefox */
  /* Chrome */
  /* Polyfill */
  /* Styling the fake progress bar for browsers in which the progress bar won't work */ }
  .controls button {
    height: 1.5em;
    width: 2em;
    border: none;
    cursor: pointer;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    margin-left: 6px; }
  .controls button#fs {
    margin-left: .6em; }
  .controls button#subtitles {
    height: 90%;
    font-size: 1em;
    font-weight: bold;
    color: #fff; }
  .controls .subtitles-menu {
    display: none;
    position: absolute;
    bottom: 15%;
    right: 20px;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    padding: 10px; }
  .controls .subtitles-menu li {
    padding: 0;
    text-align: center; }
  .controls .subtitles-menu li button {
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    width: 90%;
    padding: 2px 5px; }
  .controls > *:first-child {
    margin-left: 0; }
  .controls #progress-container {
    margin: 0 auto;
    display: block;
    width: 95%;
    position: relative; }
  .controls .buffered {
    position: relative;
    height: .3em; }
  .controls #buffered-amount {
    display: block;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    width: 0; }
  .controls .progress {
    cursor: pointer;
    width: 100%;
    border: none;
    color: #e38901;
    position: relative;
    margin-top: -.3em; }
  .controls .progress #progress {
    width: 100%;
    display: block; }
  .controls .progressTime {
    width: 8em;
    color: #fff;
    font-size: .9em;
    margin: auto 0 auto .5em; }
  .controls progress,
  .controls progress[role] {
    /* polyfill */
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: none;
    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
    /* Dimensions */
    height: .3em; }
  .controls progress[role]:after {
    background-image: none;
    /* removes default background from polyfill */ }
  .controls progress[role] strong {
    display: none; }
  .controls #test_bar {
    -webkit-appearance: none;
    border: solid 1px black;
    width: 200px;
    height: 20px; }
  .controls progress,
  .controls progress[role][aria-valuenow] {
    /* Polyfill */
    background: rgba(255, 255, 255, 0.15) !important;
    /* !important is needed by the polyfill */ }
  .controls progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.15); }
  .controls progress {
    color: #e38901; }
  .controls progress::-moz-progress-bar {
    background: #e38901; }
  .controls progress::-webkit-progress-value {
    background: #e38901; }
  .controls progress[aria-valuenow]:before {
    background: #e38901; }
  .controls .fa {
    color: white;
    font-size: 1.4em;
    vertical-align: middle; }
  .controls button:hover, .controls button:focus {
    opacity: 0.5;
    border: none;
    outline: none; }
  .controls button[data-state="play"] {
    background-image: url("../icons/play-icon.png"); }
  .controls button[data-state="pause"] {
    background-image: url("../icons/pause-icon.png"); }
  .controls button[data-state="go-fullscreen"] {
    background-image: url("../icons/fullscreen-icon.png"); }
  .controls button[data-state="mute"] {
    background-image: url("../icons/volume-off-icon.png"); }
  .controls button[data-state="unmute"] {
    background-image: url("../icons/volume-on-icon.png"); }
  .controls progress[data-state="fake"] {
    background: #e6e6e6;
    height: 65%; }
  .controls progress span {
    width: 0%;
    height: 100%;
    background-color: #2a84cd; }
  .controls progress::-moz-progress-bar, .controls progress::-webkit-progress-value {
    background-color: #e38901; }

/* Responsive Styling */
@media screen and (max-width: 768px) {
  #fastbackward, #stop, #fastforward, #volinc, #voldec {
    display: none; }

  .controls #button-container {
    margin-top: 15px; }

  .controls #progress-container {
    width: 85%; } }

/*# sourceMappingURL=main.css.map */
