
// ==========================================================================
// Extends
// ==========================================================================

%flex {
	display: flex;
	display: -webkit-flex;
}

%flex-column {
	flex-direction: column;
    -webkit-flex-direction: column;	
}

%flex-row {
	flex-direction: row;
    -webkit-flex-direction: row;	
}

%flex-center {
	justify-content: center;
	-webkit-justify-content: center;
}

%flex-space {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

%flex-grow {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}