
// ==========================================================================
// Variables
// ==========================================================================

/* Variables -------------------- */

// Descriptive color variables

$white          : #fff;
$black          : #000;
$dark-grey      : #666666;
$orange         : #e38901;


// Functional color variables

$color-prim         : $dark-grey;
$color-vid			: $orange;


// Font 

$body-font          : 16px;

$stack-sans-serif : 'Open Sans', sans-serif;
